.fullscreenz{
    min-height: calc(100vh - 64px);
    display: flex;
}

.Upload{
    padding: 10vh;
    max-width: 65vh;
    min-width: 60vh;
    background-color: rgb(103, 186, 186);
    min-height: calc(100vh - 64px);
}

.bpmn {
    height: 1000px;
    width: 800px;
  }



.stepdivine{
    margin-bottom: 30px;
}

.borderstep{
    border : 1px solid rgba(65, 64, 64, 0.433);
}

.marginbox{
    margin-top: 20px;
    margin-bottom: 30px;
}

.disableddiv {
    pointer-events: none;
    opacity: 0.6; /* Optional: Apply opacity to visually indicate it's disabled */
}

.disabled {
    color: rgb(0, 0, 0);
}

.statuscss{
    font-size: large;
    font-weight: bold;
}

.boxmargin{
    margin-top: 20px;
}

.disboxmargin{
    margin-top: 20px;
    pointer-events: none;
    opacity: 0.6; /* Optional: Apply opacity to visually indicate it's disabled */
}

.back_status{
    font-size: large;
}